@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3498db; /* Azul Principal */
  --secondary-color: #f39c12; /* Amarillo Secundario */
  --background-color: #f7f7f7; /* Gris Claro de Fondo */
  --text-color: #333; /* Texto Principal (Gris Oscuro) */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111; /* Fondo Oscuro */
    --text-color: #fff; /* Texto en Modo Oscuro (Blanco) */
  }
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Estilo para botones */
.button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para encabezados */
h1, h2, h3 {
}

/* Estilo para enlaces */
a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* Estilo para la barra de navegación */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 0;
}

/* Estilo para el pie de página */
.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px 0;
}
